@{
    ViewBag.Title = "GotÜ";
}

<div class="jumbotron">
    <h1>GotÜ</h1>
    <p class="lead">GotÜ is a free web task manager for creating, organizing and sharing tasks with your team.</p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
</div>